<div class="container py-2">
    <h1>Add Student List</h1>
</div>

<%= form_with url: import_students_path, class: 'w-50' do |form| %>
    <div class="mb-3 px-3">
        <%= form.file_field :students_file, class: 'form-control' %>
        <span class="form-text">Upload a csv file that contain the students list</span>
    </div>
    
    <div class="mb-3 px-3">
        <%= form.submit 'Upload', class: 'btn btn-success' %>
        <%= link_to 'Cancel', students_path, class: 'btn btn-danger' %>
    </div>
<% end %>