<div class="container d-flex justify-content-between align-items-center py-2">
    <h1>Students List</h1>
    <span class="btn-group">
        <%= link_to 'New Student', new_student_path, class: 'btn btn-primary' %>
        <%= link_to 'Import Students List', import_students_path, class: 'btn btn-success' %>
    </span>
</div>

<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Grade</th>
        <th>Quota</th>
        <th>Entry Date</th>
    </thead>
    <tbody>
        <%= render partial: 'student', collection: @students %>
    </tbody>
</table>