<%= turbo_frame_tag "image_modal" do %>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= t('.title') %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <%= image_tag @payment.payment_support, width: 400, height: 400 %>
    </div>
    <div class="modal-footer mb-3 px-3">
        <%= link_to t('btn_cancel'), payments_path, class: 'btn btn-danger', data: { bs_dismiss: 'modal' } %>
    </div>
<% end %>