<h1>Payments List</h1>
<ul>
    <li><%= link_to 'New payment', new_payment_path, data: { turbo_frame: 'new_payment' } %></li>
    <li><%= link_to 'Verify', payments_verify_path %></li>
</ul>

<%= turbo_frame_tag "new_payment" %>

<table>
    <thead>
        <th>Date</th>
        <th>Issuing Bank</th>
        <th>Reference</th>
        <th>Receiving Bank</th>
        <th>Amount</th>
        <th>Payment Support</th>
        <th>Verified</th>
    </thead>
    <tbody id="payments_table">
        <%= render partial: 'payment', collection: @payments %>
    </tbody>
</table>
