<div class="container d-flex justify-content-between align-items-center py-2">
    <h1>Payments List</h1>
    <span class="btn-group">
        <%= link_to 'New payment', new_payment_path, class: 'btn btn-success', data: { turbo_frame: 'new_payment' } %>
        <%= link_to 'Verify', payments_verify_path, class: 'btn btn-primary' %>
    </span>
</div>

<div class="modal" tabindex="-1" id="myModal" data-controller="new_payment" data-action="turbo:frame-load->new_payment#open turbo:submit-end->new_payment#close">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= turbo_frame_tag "new_payment" %>
    </div>
  </div>
</div>

<table class="table table-hover">
    <thead>
        <th>Student</th>
        <th>Date</th>
        <th>Issuing Bank</th>
        <th>Reference</th>
        <th>Receiving Bank</th>
        <th>Amount</th>
        <th>Payment Support</th>
        <th>Verified</th>
    </thead>
    <tbody id="payments_table">
        <%= render partial: 'payment', collection: @payments %>
    </tbody>
</table>
