<div class="container d-flex justify-content-between align-items-center py-2">
    <h1>Payments List</h1>
    <span class="btn-group">
        <%= link_to 'New payment', new_payment_path, class: 'btn btn-success', data: { turbo_frame: 'new_payment' } %>
        <%= link_to 'Verify', payments_verify_path, class: 'btn btn-primary' %>
    </span>
</div>

<%= turbo_frame_tag "new_payment" %>

<table class="table table-hover">
    <thead>
        <th>Student</th>
        <th>Date</th>
        <th>Issuing Bank</th>
        <th>Reference</th>
        <th>Receiving Bank</th>
        <th>Amount</th>
        <th>Payment Support</th>
        <th>Verified</th>
    </thead>
    <tbody id="payments_table">
        <%= render partial: 'payment', collection: @payments %>
    </tbody>
</table>
